{% extends "templates/layouts/default.html" %}

{% from 'templates/mixins/content_block.html' import pageBlock %}

{% block content %}
	{% block hero %}
		{% if page.hasHero %}
			<div class="jumbotron hero">
				<div class="container">
					{% if breadcrumb %}
						{% include "templates/snippets/breadcrumb.html" %}
					{% endif %}
					{% block jumbo_content %}
						<div class="row jumbo_row">
							<div class="col-sm-8 col-sm-offset-2">
								<h1>{{ page.heroTitle }}</h1>
								<p>{{ page.heroDescription }}</p>
								{% if page.heroButtonText %}
									<div class="btn-group">
										<a href="{{ page.heroButtonUrl }}" class="btn btn-lg">
											{{ page.heroButtonText }}
										</a>
									</div>
								{% endif %}
							</div>
						</div>
					{% endblock %}
				</div>
			</div>
		{% else %}
			<div class="page-title">
				<div class="title-container">
					<div class="container">
						{% if breadcrumb %}
							{% include "templates/snippets/breadcrumb.html" %}
						{% endif %}
						{% block pageTitle %}	
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2 text-center">
									<h1>{{ page.title }}</h1>
								</div>
							</div>
						{% endblock %}
					</div>
				</div>
			</div>
		{% endif %}
	{% endblock %}
	{% block internal_content %}
		{% for content_block in page.blocks %}
			{{ pageBlock(content_block) }}
		{% endfor %}
	{% endblock %}
{% endblock %}
