@font-face {
  font-family: "AvenirNextCyrW00-Regular";
  src: url("http://db.onlinewebfonts.com/t/0ac24a3ac0127acb41df621f11ec0aa4.eot");
  src: url("http://db.onlinewebfonts.com/t/0ac24a3ac0127acb41df621f11ec0aa4.eot?#iefix") format("embedded-opentype"),
  url("http://db.onlinewebfonts.com/t/0ac24a3ac0127acb41df621f11ec0aa4.woff2") format("woff2"),
  url("http://db.onlinewebfonts.com/t/0ac24a3ac0127acb41df621f11ec0aa4.woff") format("woff"),
  url("http://db.onlinewebfonts.com/t/0ac24a3ac0127acb41df621f11ec0aa4.ttf") format("truetype"),
  url("http://db.onlinewebfonts.com/t/0ac24a3ac0127acb41df621f11ec0aa4.svg#AvenirNextCyrW00-Regular") format("svg");
}
